	<div class="row">
		<div class="col-xs-12">
			<form role="form" ng-submit="setAuthorization()">
				<div class="form-group">
					<label for="authorization">Type authorization key</label>
					<input type="text" class="form-control" id="authorization" ng-model="authorizationKey" placeholder="Type authorization key">
				</div>
				<div class="form-group">
					<label for="authorization">Type counter location</label>
					<input type="text" class="form-control" id="location" ng-model="location" placeholder="Type counter location (if required any)">
				</div>
				<button class="btn btn-default" type="submit">Save</button>
			</form>
		</div>
	</div>
